*{
  cursor: url(../public/cursor/icons8-cursor-20.png), auto;
}
body{
  background-color: #0a0a0a;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 70px;
}
ul{
  display: flex;
  list-style: none;
  gap: 2px;
}
li{
  padding: 6px 10px;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
li:hover{
cursor: pointer;
}

.logo{
  font-weight: bold;
  font-size: 30px;
  color: white;
  transform: translateY(-100%) rotate(50deg);
  transition: all 1s ease;
}
.logoinview{
  transform: translateY(0) rotate(0);
  transition: all 1s ease;
}
.li1,.li2,.li3,.li4,.li5{
  width: 10px;
  height: 20px;
  color: transparent;
}
.li1{
  transform: translateY(-120%);
    transition: all 0.3s ease;
}
.li1inview{
  transform: translateY(0);
    transition: all 0.3s ease;
}
.li2{
  transform: translateY(-120%);
    transition: all 0.5s ease;
}
.li2inview{
  transform: translateY(0);
    transition: all 0.5s ease;
}
.li3{
  transform: translateY(-120%);
    transition: all 0.7s ease;
}
.li3inview{
  transform: translateY(0);
    transition: all 0.7s ease;
}
.li4{
  transform: translateY(-120%);
    transition: all 0.9s ease;
}
.li4inview{
  transform: translateY(0);
    transition: all 0.9s ease;
}
.li5{
  transform: translateY(-120%);
    transition: all 1.1s ease;
}
.li5inview{
  transform: translateY(0);
    transition: all 1.1s ease;
}
.li1inview,.li2inview,.li3inview{
  width: 55px;
}
.li4inview{
  width: 100px;
  text-wrap: nowrap;
}
.li5inview{
  width: 30px;
}
.licolor{
  color: white;
}
.maincontainer{
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 2500px;
}
.container{
width: 98vw;
max-width: 1360px;
height: 1000px;
}
.maintextcontainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maintext{
  color: white;
  text-align: center;
  font-size: 60px;
  transform: translateY(90%) rotateX(70deg);
  transition: all 1s ease;
  z-index: 10;
}
.maintextinview{
  transform: translateY(30%) rotateX(40deg);
  transition: all 1s ease;
}
.maintextstage2{
  transform: translateY(0) rotateX(0);
  transition: all 1s ease;
}
.purple{
  color: #9a75e3;
  transition: all 1s ease;
}
.page1container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

}
.page1{
  width: 90%;
height: auto;
display: flex;
flex-direction: row-reverse;
gap: 20px;
}
.kidwearingglasses{
  width: auto;
  height: 30%;
  border-radius: 130px;
  transform: translateY(90%);
  opacity: 0;
  transition: all 1s ease;
}
.kidinview{
  opacity: 0.3;
  transform: translateY(40%);
  transition: all 1s ease;
}
.kidstage2{
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease;
}
.rightcontainer{
  position: relative;
  display: flex;
  flex-direction: column;
}
.kidonbeach{
  width: 100px;
  height: 100px;
  border-radius: 100%;
transform: rotateY(180deg);
transition: all 1s ease;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.kidnadcellphoneicon{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 100px;
  transform: translateY(0) translateX(0);
  background-color: transparent;
  transition: all 0.8s ease;
  font-size: 36px;
}
.personboxcontainer{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;
}
.personbox{
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.918);
  margin-right: 80px;
  border-radius: 40px;
}
.triconscont{
  width: 130px;
  height: 130px;
  border-radius: 40px;
  transform: translateY(-60px) translateX(30px) rotate(360deg);
  transition: all 0.8s ease;
  opacity: 0;
}
.triconscontinview{
  opacity: 1;
  transform: translateY(-50px) translateX(30px) rotate(0deg);
  transition: all 0.8s ease;
}
.icontrspbckg{
  border: 1px solid white;
  width: 2px;
  height:  2px;
  padding: 10px;
  border-radius: 100%;
  color: transparent;
  transition: all 1.5s ease;
}
.iconinview{
  width:30px;
  height: 30px;
  color: white;
  transition: all 1.5s ease;
}
.icons1strow{
  padding: 10px 10px 0 10px;
  gap: 10px;
  display: flex;
}
.namepic,.nametime{
  background-color: transparent;
}
.nametime{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
}
.namepic{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: bold;
}
.namepic img{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
}
.myimage img{
  width: 55px;
  height: 55px;
  border-radius: 100%;
}
.callicons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 15px 0px 15px;
  background-color: transparent;
}
.myimage{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.time{
  font-weight: 100;
  margin-left: 10px;
}
.kidnadcellphoneiconcontainer{
    display: flex;
  flex-direction: column;
  transform: translateY(0) translateX(0);
  background-color: transparent;
  transition: all 0.8s ease;
  opacity: 0;
  gap: 40px;
}
.cellphoneicon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  background-color: rgb(222, 222, 222);
  font-size: 30px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kidcellphoneinview{
  transform: translateY(-440px) translateX(20px);
  transition: all 0.8s ease;
  opacity: 1;
}

.cellphoneicon{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
  transform: translateX(-25%) translateY(-10%);
  opacity: 0.8;
}
.createameetingcontainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.createameeting{
  width: 150px;
  height: 40px;
  background-color: black;
  margin-right: 80px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transform: translateY(-20px);
  cursor: pointer;
}
.textnbuttons{
  display: flex;
  justify-content: space-between;
  transform: translateY(-55px);
  padding: 0 40px 0 20px;
}
.bestp{
  color: white;
  font-weight: 500;
}
.bestp span{
color: #9a75e3;
}
.buttonss{
width: 220px;
height: 25px;
display: flex;
justify-content: space-between;
gap: 10px;
}
.button1{
  width: 98px;
  border-radius: 60px;
  height: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.button2{
  width: 98px;
  border-radius: 60px;
  height: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: relative;
  transition: all 1s ease;
  padding-right: 25px;
  color: transparent;
}
.button2inview{
  background-color: #9a75e3;
  transition: all 1s ease;
  color: black;
}
.switchcircle{
  position: absolute;
  width: 23px;
  height: 23px;
background-color: white;
border-radius: 100%;
top: 0.5px;
left: 4px;
border: 1px solid black;
transition: all 1s ease;
}
.switchcircleinview{
  left: 86px;
  transition: all 1s ease;
}
.leftcontainer{
  color: white;
  display: flex;
  flex-direction: column;
}
.kidwithcap{
  max-width: 100%;
  border-radius: 60px;
  transform: translateY(53%);
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
}
.kidwithcapinview{
  transform: translateY(-16%);
  opacity: 1;
  transition: all 1s ease;
}
.leftfirsttext{
  display: flex;
  flex-direction: row-reverse;
  transform: translateY(200%);
  opacity: 0;
  transition: all 1s ease;
}
.leftfirstinview{
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease;
}
.circlecontainercontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 100%;
  margin-right: 30px;
  transform: translateY(200%);
  opacity: 0;
  transition: all 1s ease;
}
.contcontinview{
  transform: translateY(-23%);
  transition: all 1s ease;
  opacity: 1;
}

.circlecontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
    transition: all 1s ease;
}
.secondwave{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
    transition: all 1s ease;
}
.continview{
width: 90px;
  height: 90px;
  border: 1px solid white;
  transition: all 1s ease;
}
.continview5th{
  width: 110px;
  height: 110px;
  border: 1px solid transparent;
  transition: all 1s ease;
}

.secondinview{
 width: 90px;
  height: 90px;
  border: 1px solid white;
  transition: all 3s ease;
}
.secondinview5th{
  width: 110px;
  height: 110px;
  border: 1px solid transparent;
  transition: all 1s ease;
}
@keyframes firstwaveanimation {
  0%{
    min-width: 60px;
    height: 60px;
    border: none;
  }
  50%{
    min-width: 80px;
    height: 80px;
    border: 1px solid white;
  }
  75%{
    min-width: 100px;
    height: 100px;
    border: 1px solid white;
  }
  100%{
    min-width: 120px;
    height: 120px;
    border: none;
  }
}
.livecircle{
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #9a75e3;
  border-radius: 100%;
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.midleft{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  transform: translateY(10%);
}
li:hover{
  background-color: #9a75e3;
  color: black;
  border: 1px solid black;
}
.getanappbox{
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
border-radius: 20px;
padding: 15px;
display: flex;
flex-direction: column;
gap: 4px;
}
.applegooglelogos{
  display: flex;
  font-size: 36px;
  gap: 6px;
}
.getanapp{
  display: flex;
  gap: 5px;
  transform: translateY(150%);
  opacity: 0;
  transition: all 1.5s ease;
}
.getanappinview{
  transform: translateY(0);
  opacity: 1;
  transition: all 1.5s ease;
}
.icccon{
width: 15px;
height: 15px;
border: 1px solid white;
border-radius: 100%;
padding: 5px;
}
.twoicons{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.midmidtext{
  font-size: 10px;
}
.pag2container{
  transform: translateY(-550px);
  color: white;
  padding: 0 30px;
  display: flex;
  flex-direction: row-reverse;
  gap: 170px;
  flex-direction: column;
}
.personimg{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-size: cover;
}
.secondperson{
  transform: translateX(100%);
    transition: all 0.5s ease;
}
.tbhirdperosn{
  transform: translateX(200%);
  transition: all 0.5s ease;
}
.fourthimgperson{
  transform: translateX(300%);
  transition: all 0.5s ease;
}
.img1seen{
  transform: translateX(20%);
    transition: all 0.5s ease;
    z-index: 9;
}
.img2seen{
  transform: translateX(40%);
  transition: all 0.5s ease;
  z-index: 8;
}
.img3seen{
  transform: translateX(60%);
  transition: all 0.5s ease;
}
.firstpersonimg{
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 10;
}
.firstpersonimgseen{
  opacity: 1;
  transition: all 0.5s ease;
}
.peopletextanimation{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
}
.peopledivcontainer{
  display: flex;
  flex-direction: row-reverse;
}
.peopleandfirsttextpeoplecomponent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 10px;
}
.increasingnumunseen{
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s ease;
white-space: nowrap;
}
.userstextunseen{
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.8s ease;
}
.increasingnumseen{
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s ease;
}
.usertextseen{
  transform: translateY(0);
  opacity: 1;
  transition: all 0.8s ease;
}
.secondtextpeopledivanimation{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.wordunseen{
transform: translateY(30px);
opacity: 0;
transition: 0.3s all ease;
}
.firstwordseen{
  transform: translateX(0);
  transition: 0.3s all ease;
  opacity: 1;
}

.ssecondwordunseen{
  transform: translateX(0);
  transition: 0.5s all ease;
  opacity: 1
  ;
}
.thirdwordunseen{
  transform: translateX(0);
  transition: 0.8s all ease;
  opacity: 1
  ;
}
.fourthwordseen{
  transform: translateX(0);
  transition: 1.1s all ease;
  opacity: 1
  ;
}
.arrowseen{
  transform: translateX(0);
  transition: 1.3s all ease;
  opacity: 1
  ;
}
.peopletextandbigtextcontainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bigtextanimation{
  width: 100%;
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 20px;
}
.bigtextunseen{
  transform: translateY(40px);
  color: #543c82;
  opacity: 0;
}
.b1bigseen{
opacity: 1;
color: white;
transform: translateY(0);
transition:  2s color ease , 0.3s ease transform , 0.3s ease opacity  ;
}
.b2bigseen{
  opacity: 1;
color: white;
transform: translateY(0);
transition:  2s color ease , 0.5s ease transform , 0.5s ease opacity  ;
}
.b3bigseen{
  opacity: 1;
color: white;
transform: translateY(0);
transition:  2s color ease , 0.8s ease transform , 0.8s ease opacity  ;
}
.b4bigseen{
  opacity: 1;
color: white;
transform: translateY(0);
transition:  2s color ease , 1.1s ease transform , 1.1s ease opacity  ;
}
.b5bigseen{
  opacity: 1;
color: white;
transform: translateY(0);
transition:  2s color ease , 1.4s ease transform , 1.4s ease opacity  ;
}
.twoiconssmalltextcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
.twoiconscontainer{
  display: flex;
  gap: 20px;
transform: translateY(100px);
transition: all 1s ease;
}
.twoiconcontainerseen{
  transform: translateY(0);
transition: all 1s ease;
}
.iconcontainer{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.bigicon1{
  background-color: #9a75e3;
width: 30px;
height: 30px;
  font-size: 10px;
  border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 45px;
transition:  all 1s ease;
transform: rotate(360deg);
}
.bigicon1seen{
  transform: rotate(0);
  width: 80px;
  height: 80px;
  transition: 1s ease all;
}
.bigicon2{
  background-color: white;
  width: 30px;
  height: 30px;
    font-size: 10px;
    border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  transition:  all 1s ease;
  transform: rotate(360deg);
}
.bigicon2seen{
  transform: rotate(0);
  width: 80px;
  height: 80px;
  transition: 1s ease all;
}
.smalltextunseen{
  position: absolute;
  left: 0;
  transform: translateY(100px);
  transition: all 1.5s ease;
}
.smalltextseen{
  transform: translateY(0px);
  transition: all 1.5s ease;
}
.bigmaintextcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
  transform: translateY(-100px);
}
.bigmaintextcontainer p{
  margin: 0;
}
.text111{
  color: #543c82;
  transform: translateY(100px);
  transition: all 1s ease;
}
.text11seen{
  transform: translateY(0);
  transition: all 3.5s ease;
  color: white;
}
.text22seen{
  transform: translateY(0);
  transition: all 3.7s ease;
  color: white;
}
.text33seen{
  transform: translateY(0);
  transition: all 3.9s ease;
  color: white;
}
.text44seen{
  transform: translateY(0);
  transition: all 4.1s ease;
  color: white;
}
.text55seen{
  transform: translateY(0);
  transition: all 4.3s ease;
  color: white;
}
.text66seen{
  transform: translateY(0);
  transition: all 4.5s ease;
  color: white;
}
.text77seen{
  transform: translateY(0);
  transition: all 4.7s ease;
  color: white;
}
.text88seen{
  transform: translateY(0);
  transition: all 4.9s ease;
  color: white;
}
.text11seen span,.text44seen span,.text55seen span,.text66seen span,.text88seen span{
  color: #b48fff;
}
.firstfloatingbox{
  position: absolute;
  top: 200px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
right: 200px;
background-image: url('https://img.freepik.com/free-photo/hand-with-sphere-abstract-background_23-2150697306.jpg');
background-size: cover;
transition: all 2s ease;
}
.firstfloatingboxseen{
  top: 10px;
  transition: all 2s ease;
}
.secondfloatingbox{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(216, 216, 216);
  border-radius: 16px;
  bottom: 50px;
  left: 240px;
  z-index: 100;
  display: flex;
  transition: all 1s ease;
}
.secondfloatingboxseen{
  bottom: 150px;
  transition: all 1s ease;
}
.smallboxbehind{
position: absolute;
width: 130px;
height: 130px;
background-color: white;
border-radius: 16px;
right: inherit;
z-index: 90;
bottom: 10px;
right: -15px;
}
.bigboxfront{
  position: absolute;
width: 140px;
height: 130px;
right: -20px;
background: rgba(0, 0, 0, 0);
backdrop-filter: blur(5px);
z-index: 101;
top: -55px;
border-radius: 16px;
display: flex;
flex-direction: column;
gap: 5PX;
}
.personinrow{
  width: 55px;
  height: 55px;
  z-index: 200;
  background-size: cover;
  border-radius: 100%;
  transition: all 1s ease;
  transform: rotate(180deg);
  opacity: 0;
}
.personnn1{
  opacity: 1;
  transform: rotate(0deg) translateY(0px);
  transition: all 1s ease;
}
.personnn2{
  opacity: 1;
  transform: rotate(0deg) translateY(0px);
  transition: all 1s ease;
  transition-delay: 0.3s;
}
.personnn3{
  opacity: 1;
  transform: rotate(0deg) translateY(0px);
  transition: all 1s ease;
  transition-delay: 0.6s;
}
.personnn4{
  opacity: 1;
  transform: rotate(0deg) translateY(0px);
  transition: all 1s ease;
  transition-delay: 0.9s;
}
.peopleinfrontboxCONTAINER{
  transform: translateY(45px);
  display: flex;
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    transition: all 1s ease;
}
.firstpeoplefloatcontainer{
  transform: translateY(15px);
    transition: all 1s ease;
}
.secondpeoplefloatcontainer{
  transform: translateY(15px);
    transition: all 1s ease;
    transition-delay: 0.6s;
}
.phonecontainer{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  perspective: 1000px;
  transition: all 1s ease;
  justify-content: center;

}
.phone{
  border-radius: 10px;
  position: relative;
  transform: translateY(280px) rotateY(360deg) rotate(20deg) translateX(-100px);
  transition: all 2s ease;
  transform-style: preserve-3d;
}
.phoneseen{
  transform: translateY(-230px) rotateY(0deg) rotate(0deg) translateX(-120px);
}
.face{
  position: absolute;
}
#front{
  width: 243px;
  background-color: #543c82;
  height: 458px;
border: solid 7px black;
  transform: translateZ(15px);
  outline: 1px solid white;
  border-radius: 22px;
  display: flex;
  align-items:center ;
  justify-content: center;
  overflow: hidden;
  }
  .bottomappcenter{
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.505);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgandiconscontainer{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .appcentericon{
    font-size: 25px;
  }
  .twocomponentscontainer{
    display: flex;
    gap: 15px;
  }
  .firstcomponent{
    background-image: url('https://thumbs.dreamstime.com/b/young-man-cocktail-beach-chair-young-man-cocktail-beach-chair-seacoast-129386286.jpg');
    background-size: cover;
    border-radius: 18px;
    transform: translateX(-130px);
    transition: 1s ease all;
  }
  .firstcomponentseen{
    transform: translateX(0);
    transition: 1s ease all;
    transition-delay: 1s;
  }
  .twopeopledivinmainpagecomponent{
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
  }
  .peopleinmainpagecomponent{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 100%;
  }
  .secondpersonimaminpagecomponent{
    transform: translateX(10px);
  }
  .secondcomponent{
background-color: rgba(192, 192, 192, 0.437);
border-radius: 18px;
display: flex;
flex-direction: column;
transition: all ease 1s;
transform: translateX(130px);
    }
 .secondcomponentseen{
  transform: translateX(0);
  transition: all 1s ease;
  transition-delay: 1.2s;
 }
    .fourthcomponent{
background-color: rgba(192, 192, 192, 0.437);
border-radius: 18px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
transition: 1s ease all;
transform: translateX(130px);
    }
    .fourthcomponentseen{
      transform: translateX(0px);
      transition: 1s ease all;
      transition-delay: 1.6s;
    }
    .twoiconscontainerinmainpagecomponent{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
  
    }
    .alliconsmainpagecomponentcontainer{
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 5px 0;
      gap: 5px;
    }
    .smalliconinmainpagecomponent{
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      border-radius: 100%;
    }
    .white{ background-color: white; color: black;} .red { background-color: rgb(240, 0, 0); color: white;}
    .textinmaincomponent{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8px;
      padding: 0 8px;
      height: 35%;
    }
  .thirdcomponent{
    border-radius: 100%;
background-image: url('https://thumbs.dreamstime.com/b/smiling-teen-boy-character-portrait-d-cartoon-style-handsome-generic-white-clean-background-digital-painting-movies-281956632.jpg');
background-size: cover; 
position: relative;
transition: all 1s ease;
transform: translateX(-130px);
}
.thirdcomponentseen{
transform: translateX(0);
transition: all 1s ease;
transition-delay: 1.4s;
}
.smallcaallbuttonincomponent{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  right: 0;
  position: absolute;
  transform: translateX(5px) translateY(-5px);
  color: black;
  font-size: 20px;
  display: flex;
  align-items:center ;
  justify-content: center;
}

.fifthcomponent{
    background-image: url('https://us.123rf.com/450wm/benzoix/benzoix2212/benzoix221207898/195563206-okay-got-it-cheeky-flirty-girlfriend-winking-coquettish-show-alright-okay-ok-sign-smiling-broadly.jpg?ver=6');
    background-size: cover;
    border-radius: 18px;
    transition: all ease 1s;
    transform: translateX(-130px);
}
.fifthcomponentseen{
  transition: all ease 1s;
  transform: translateX(0px);
  transition-delay: 1.8s;
}
.sixthcomponent{
  background-image: url('https://www.shutterstock.com/image-photo/photo-young-beautiful-smiling-good-600nw-1926675866.jpg');
  background-size: cover;
  border-radius: 18px;
  transition: all ease 1s;
  transform: translateX(130px);
}
.sixthcomponentseen{
  transition: all ease 1s;
  transition-delay: 2s;
  transform: translateX(0);
}
  .mainpagecomponentscotnainer{
    gap: 15px;
    display: flex;
    flex-direction: column;
transform: translateY(-25px);
  }
  .mainpagecomponent{
    width: 95px;
    height: 95px;
  }
  .centerpersonimg{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    margin-bottom: 10px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSztEHGDHsSIlKxW_dc1sltM6CBxFNT7ocBQ&s');
    background-size: cover;
  }
.topnotch{
position: absolute;
width: 80px;
height: 20px;
background-color: black;
border-radius: 22px;
top: 5px;
left: 80px;
}
.bottomnotch{
  position: absolute;
width: 100px;
height: 5px;
background-color: rgb(177, 177, 177);
border-radius: 22px;
bottom: 5px;
left: 75px;
z-index: 10;
}
  #back{
    width: 243px;
    background-color: #543c82;
    height: 458px;
    border: solid 7px black;
    transform: translateZ(-15px);
    display: flex;
    border-radius: 22px;
  }
    .cameracontainer{
width: 120px;
height: 120px;
border: 2px solid black;
border-radius: 16px;
position: absolute;
right: 14px;
display: flex;
top: 14px;
flex-direction: row-reverse;
background-color: #808080;
    }
    .twocameras{
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
 margin-right: 6px;
 margin-top: 6px;
    }
    .onecamer{
      height: 100%;
      display: flex;
align-items: center;
justify-content: center;
      gap: 5px;
 margin-right: 5px;
 margin-top: -5px;
    }
    .camera{
      width: 50px;
      height: 50px;
      background-color: rgb(42, 42, 42);
      border-radius: 100%;
      border: 0.5px solid black;
    }
#left{
  height: 456px;
  width: 30px;
  transform: translateX(-15px) rotateY(90deg);
  background-color: #3a275d;
  border-top: solid black 7px;
  border-bottom: solid black 7px;
}
#right{
  height: 456px;
  width: 30px;
  transform: translateX(235px) rotateY(90deg);
  background-color: #3a275d;
  display: flex;
align-items: center;
justify-content: center;
  overflow: hidden;
  font-size: xx-small;
  border-top: solid black 7px;
  border-bottom: solid black 7px;
}
.volumeupdownbuttonscontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 9px;
  gap: 5px;
}
.volumebutton{
  width: 10px;
  height: 50px;
  border: 1px solid black ;
  border-radius: 16px;
  background-color: #23163c;
}
#up{
  height: 30px;
  width: 250px;
  transform: translateY(-16px) rotateX(90deg);
  background-color: #131313;  
}
#down{
  height: 39px;
  width: 250px;
  transform: translateY(445.5px) rotateX(90deg) translateZ(-5px);
  background-color: #131313;   
}
.exploreourservicecontainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
transform: translateY(00px);
transition: all 1s ease;
margin-top: -550px;
}
.explorecontainerseen{
  transition: all 1s ease;
  transform: translateY(-70px);
}
.exploreourservice{
  width: 100px;
  height: 40px;
background-color: #9a75e3;
  border-radius: 22px;
  font-size: 22px;
position: relative;
display: flex;
align-items: center;
justify-content: center;
color: #9a75e3;
font-weight: 500;
transition: all 1s ease;
overflow: hidden;
padding: 0 35px 0 0;
white-space: nowrap;
}
.explorecomponentseen{
transition: all 1s ease;
  color: black;
  width: 220px;
}
.smallarrowincircle{
  width: 98%;
  height: 100%;
  background-color: #9a75e3;
  position: absolute;
  border-radius: 22px;
  display: flex;
  align-items: center;
  right: 0;
  transition: all 1s ease;
}
.arrowcontainerseen{
  transition: all 1s ease;
  width: 18%;
  transition-delay: 0.5s ;
}
.arrowitselfincircle{
  height: 38px;
  width: 38px;
  background-color: black;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lasttextcontaier{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  transform: translateY(0px);
  font-weight: 500;
  transition: all 1s ease;
  font-size: 18px;
}
.lasttextseen{
  transition: all 1s ease;
  transform: translateY(-70px);
}